<div class="row stretch center">
  {{#if loading}}
  <div class="icon-container stretch row spin-clockwise">
    {{fa-icon 'spinner'}}
  </div>
  {{else}}
    {{#if hasLeftIcon}}
      <div class="icon-container center row">
        {{fa-icon leftIcon}}
      </div>
    {{/if}}

    {{#if (and hasLabel hasLeftIcon)}}
      <div class="space"></div>
    {{/if}}

    {{#if hasLabel}}
      <span class="label">{{label}}</span>
    {{/if}}

    {{#if (and hasLabel hasRightIcon)}}
      <div class="space"></div>
    {{/if}}

    {{#if hasRightIcon}}
      <div class="icon-container center row">
        {{fa-icon rightIcon}}
      </div>
    {{/if}}


  {{/if}}
</div>
