<header class="row">
  <div class="index">
    {{index}}.
  </div>
  <div class="stretch">

  </div>
  <div class="ui-container">
    {{ui/icon-button
        label="X"
        class='delete'
        click=(action destroyFlashCard model)}}
  </div>
</header>

<div class="col fieldsContainer">
  <div class="col inputContainer">
    {{one-way-textarea model.chinese.text
        placeholder='汉语...'
        update=(action "handleUpdate" model.chinese)
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck=false}}
  </div>

  <div class="col inputContainer">
    {{one-way-textarea model.pinyin.text
        placeholder='Pinyin...'
        class="pinyinEditor"
        update=(action 'processChange' model.pinyin)
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck=false}}
  </div>

  <div class="col inputContainer">
    {{one-way-textarea model.english.text
        placeholder='English...'
        update=(action "handleUpdate" model.english)
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck=false}}
  </div>
</div>

<div class="audioUiContainer row right">
  {{audio-recorder
      model=model
      created=(action onAudioCreated model)}}
</div>
