<header class="row">
  <div class="index">
    {{position}}.
  </div>
  <div class="stretch">

  </div>
  <div class="ui-container">
    {{ui/icon-button
        label="X"
        click=(action destroyFlashCard model)}}
  </div>
</header>

<div class="row fieldsContainer">
  <div class="col inputContainer">
    <div class="title row">汉语</div>
    {{one-way-textarea model.chinese
        update=(action "handleUpdate" "chinese")
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck=false}}
  </div>

  <div class="col inputContainer">
    <div class="title row">Pinyin</div>
    {{one-way-textarea model.pinyin
        class="pinyinEditor"
        update=(action 'processChange')
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck=false}}
  </div>

  <div class="col inputContainer">
    <div class="title row">English</div>
    {{one-way-textarea model.english
        update=(action "handleUpdate" "english")
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck=false}}
  </div>
</div>

<hr>

<div class="audioUiContainer row right">
  {{audio-recorder
      created=onAudioCreated}}

  {{#if hasAudio}}
    {{ui/icon-button
        label="Play"
        click=(action "play")
        leftIcon="play"}}
  {{/if}}
</div>
